.wrapper{
    background-color: darkcyan;
    height: 680px;
    padding: 0px;src: ;
}

h1{
    width: 100%;
    text-align: center;
    color: white;
    margin-top: -10px;
    padding-top: 28px;
}

.dataapi{
    width: 100%;
    text-align: center;
    color: white;
}

hr{
    width: 600px;
    margin-bottom: 20px;
    border: 1px dashed white;
}

P{
    color: white;
    text-align: center;
}